OPENRESTY_DB_URL=jdbc:mysql://192.168.100.6:3306/openresty-plus?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
OPENRESTY_DB_USERNAME=openresty-plus
OPENRESTY_DB_PASSWORD=
OPENRESTY_REDIS_HOST=192.168.100.6
OPENRESTY_REDIS_PORT=6379
OPENRESTY_REDIS_PASSWORD=
OPENRESTY_OIDC_ISSUER=http://localhost:8081/realms/openresty-plus
OPENRESTY_KAFKA_BOOTSTRAP_SERVERS=192.168.100.6:9092
OPENRESTY_KAFKA_TOPIC=dtl-602-openresty-plus
# Fill these after node-registration returns the UUIDs.
FILEBEAT_EAST_1_NODE_ID=
FILEBEAT_EAST_2_NODE_ID=
